* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: white;
}

.row {
    margin-top: 50rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        border: 5px inset orange;
    }

body {
    width: 100%;
    height: 100%;
    background: url(nebula.jpg) no-repeat center fixed;
    background-size: cover;
}

header {
    width: 100%;
    height: 20vh;
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 9rem;
    z-index: 1400;
    font-family: 'cyber';
    font-weight: normal;
    font-style: normal;
    background-image: url(/matrix.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

    .landing-text h6 {
        font-family: 'cyber';
        font-size: 7rem;
        font-weight: 300;
        background: orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /*media queries*/

@font-face {
    font-family: "cyber";
    src: url("/cyber.woff") format('woff');
}

@media screen and (max-width: 600px) {

    .landing-text h1 {
        font-size: 7rem;
    }

    .landing-text h6 {
        font-size: 3rem;
    }
    
      .column {
    flex: 100%;
    max-width: 100%;
  }
    
}

@media screen and (max-width: 768px) {
    body {
        background: url(nebula.jpg) no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1 {
        font-size: 7rem;
    }
    
      .column {
    flex: 50%;
    max-width: 50%;
  }

    .landing-text h6 {
        font-size: 3rem;
    }
}
