html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

.landing-text h1 {
    font-size: 12rem;
    font-family: 'cyber';
    font-weight: normal;
    font-style: normal;
    color: aqua;
    text-shadow: 0 0 20px mediumvioletred;
    padding: 1rem;
    user-select: none;
    text-align: center;
}


body {
    font-family: 'Roboto Slab', serif;
    color: blue;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(../ash.jpg) no-repeat center fixed;
    background-size: cover;
    overflow-y: scroll;
}


.container-gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
    padding: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    border-radius: 1rem;
    border: inset aqua 3px;
    box-shadow: 0 0 20px aqua;
}

    .gallery img:hover {
        box-shadow: 0 0 20px mediumvioletred;
    }

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.smooth {
    transition: height .5s
}


html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

.landing-text h1 {
    font-size: 12rem;
    font-family: 'cyber';
    font-weight: normal;
    font-style: normal;
    color: aqua;
    text-shadow: 0 0 20px mediumvioletred;
    padding: 1rem;
    user-select: none;
    text-align: center;
}

.landing-text h6 {
    color: aqua;
    font-size: 2rem;
    user-select: none;
    text-align: center;
    background-color: rgb(219, 0, 154, 0.4);
    padding: 5px;
    width: 40%;
    margin: 0 auto;
    border-radius: 1rem;
    border: inset aqua;
    box-shadow: 0 0 20px aqua;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px white;
    background: black;
    -webkit-text-fill-color: transparent;
    border-radius: 30rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    border-radius: 25px;
    background: linear-gradient(to top, aqua, mediumvioletred);
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 6px white;
    background: linear-gradient(to top, aqua, mediumvioletred);
    -webkit-text-fill-color: transparent;
}

/*videos*/

.resp-container {
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    width: 500px; /* It should not be 100% */
    height: 500px;
    margin-left: auto; /* Automatic margin from left */
    margin-right: auto;
}


.container .box {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

    .container .box iframe {
        border: inset aqua 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
    }

.container {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    border: inset aqua;
    box-shadow: 0 0 20px aqua;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 1rem;
    background: black;
}

.header h1 {
    font-size: 12rem;
    font-family: 'cyber';
    font-weight: normal;
    font-style: normal;
    color: aqua;
    text-shadow: 0 0 20px mediumvioletred;
    padding: 1rem;
    user-select: none;
    text-align: center;
}

/*Start footer*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
    color: white;
}

    .copyright a {
        color: #eee;
    }

#up {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #eee;
    top: -1rem;
    right: 2rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

    #up i {
        color: red;
        font-size: 2rem;
        margin: auto;
    }

    #up i {
        font-size: 2rem;
        background: url(../Beam.gif);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

@media screen and (max-width: 800px) {
    .landing-text h1 {
        font-size: 10rem;
    }
    
        .header h1 {
        font-size: 10rem;
    }

    .container-gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .landing-text h1 {
        font-size: 5rem;
    }
    
        .header h1 {
        font-size: 8rem;
    }

    .container-gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    .up {
        right: 2rem;
    }
}

@font-face {
    font-family: "cyber";
    src: url("cyber.woff") format('woff');
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(191, 41, 20, 0.99);
    }

    70% {
        box-shadow: 0 0 0 2rem rgba(191, 31, 2, 0.00);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(191, 51, 20, 0.00);
    }
}
